/* 変数定義 */
body {
  font: 14pt "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  background: #fff;
}
article.print_page {
  width: 182mm;
  height: 257mm;
  page-break-after: always;
}
article.print_page :last-child {
  page-break-after: auto;
}
section {
  clear: all;
}
h2 {
  display: none;
}
dt {
  float: left;
  border: solid 0.5mm #000;
}
dd {
  border: solid 0.5mm #000;
}
table {
  border: solid 1mm #000;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: solid 1mm #000;
  border-collapse: collapse;
}
td {
  border: solid 0.5mm #000;
  text-align: center;
}
