/* 変数定義 */
fonts = "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
fonts-gothic = "ヒラギノ角ゴ Pro W3", "メイリオ", Osaka, Arial, Verdana, "ＭＳ Ｐゴシック", sans-serif
font-size = 14pt

body
  font font-size fonts
  background white

article.print_page
  width 210mm
  height 297mm
  page-break-after always
  :last-child
    page-break-after auto

      text-align: right

section
  clear both
  h1
    font-size 50%
    margin 0
  p
    margin 0
    margin-left 5mm

table
  width 100%
  border solid 0.5mm black
  border-collapse collapse
  margin 1mm 0
  th
    text-align center
    font-family fonts-gothic
    border solid 0.5mm black
  td
    border solid 0.5mm black

ul
  border-bottom solid 0.5mm black
  list-style none
  :last-child
    border-bottom none

.clearfix:after
  content ""
  clear both
  display block


.ruby
  border-bottom dashed 0.3mm black
  width 100%
  h1
    float left
    margin 0
    margin-right 5mm
  p
    font-size 50%


.center
  text-align center

.right
  text-align right

.tel,.phone,.other_contact
  border solid 0.5mm black



#header
  h1
    font-size 150%
    font-family fonts-gothic
    float left
    margin 0
  p
    font-size 60%
    text-align right
    width 100%

#box1
  width 70%
  border-style solid
  border-width 0.5mm

#name
  border-bottom solid 0.5mm black
  clear both
  p
    margin-left 5mm

#box2
  width 100%
  border solid 0.5mm black

#post
  font-size 80%

#address
  border-bottom solid 0.5mm black

#PR, #skill, #motive
  border solid 0.5mm black
  margin 1mm 0

#commuting_time, #dependant, #spouse, #supporting_duty
  border solid 0.5mm black

#request
  border solid 0.5mm black
  margin 1mm 0
  h1
    border-bottom solid 0.5mm black